---
---

@import "{{ site.theme }}";

#menu_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: #005077;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; 
}
  
#header_wrap a {
  color: #fff;
}
 
.sup {
	vertical-align: super;
}

.sub {
	vertical-align: sub;
}

/* URLs that are too long mess with mobile. This is a quick fix */
.project-content {
    overflow: hidden;
}

/* Lock the footer to keep a minimum width on mobile devices, and keep the footer looking good. */
#footer_wrap .inner {
    min-width: 375px;
}

#footer_wrap .inner div {  
    display: table;
    width: -webkit-calc(50%);
    width: calc(50%);
    float: left;
    height: 50px;
}

#footer_wrap span {
	display: table-cell;
	vertical-align: middle; 
}

#footer_wrap a {
	text-decoration: none;
}

#footer_wrap a:hover { 
	text-decoration: underline;
	font-weight: normal;
}

#footer_wrap img {
	vertical-align: middle;
	border: none;
	box-shadow: none;
}

#footer-left {
	text-align: left;
	vertical-align: middle;
}

#footer-right {
	text-align: right;
	vertical-align: middle;
}
